*{
padding: 0px;
margin: 0px;
}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	min-height: 100px;
	background-color: darkgrey;
}
.head{
	display: flex;
	justify-content: center;
}
.logo{
	line-height: 100px;
}