*{
	padding: 0px;
	margin: 0px;
}
.con{
	max-width: 1200px;
	margin: 0 auto;
}
body{
	background-color: teal;
}
header{
	width: 100%;
	min-height: 100px;
	background-color: blueviolet;
margin-bottom: 50px;
}
.head{
	display: flex;
    justify-content: center;
}
.logo{
	line-height: 100px;
}
main{
	width: 100%;
	background-color:blueviolet;
	min-height:500px;
	display: flex;
}
.mainL,.mainR{
    width: 50%;
}
.mainL > img{
	width: 100%;
}
.text > h3{
	padding: 35px

}
.text{
font-size: 35px;
text-align; content: 
background-color:white;
}
footer{
	width: 100%;
	min-height: 100px
	background-color:teal;
	margin-top: 100px;
}
footer > div > p{
	text-align:  center;
    color: wheat;
    font-size: 22px;
}
.manu-line{
	width: 100%;
	min-height: 100px;
	background-color: peru;
	margin-bottom: 50px;
}
menu{
	text-align: center;
}
menu > a{
	color: wheat;
	line-height: 100px
	margin-l
}