*{
	margin:0px;
	padding:0px;
}

header{
	width: 100%;
	min-height: 150px;
	background-color:purple; 
}
.con{
	max-width: 1200px;
	margin: 0 auto;
	
}
.head{
	display: flex;
}
.head-left{
	width: 50%;
	height: 150px;
	display: flex;
}
.head-right{
	width: 50%;
	min-height: 150px;
	display: flex;
	justify-content: center;
}
.head-left >h1{
	color: white;
	font-size: 40px;
	align-self: center;

}
 menu{
 	align-self: center;
 }

menu > li{
	list-style: none;
	display: inline;

	


}
li > a {
	text-decoration: none;
	color: palevioletred;
	margin-left: 30px
}
.content{
	width: 100%;
	min-height: 500px;
	background-color: purple;
	margin-top: 40px;
	display: flex;
}
.mainL{
	width: 40%;
	/*height: 120px;
	background-color: red;*/
}
.mainR{
	width: 60%;
	/*height: 120px;
	background-color: yellow;*/
}
.img > img{
	width: 100%;
}
.text > h2{
	text-align: center;
	color: wheat; 

}
.text > p{
	color: thistle;
	padding: 10px 0px;
}
