body{
	background-color: blue;
}
.santa{
	width: 400px;
	height: 600px;
	background-color: green;
}
.body{
	width: 400px;
	height: 400px;
	background-color: red;
	border-radius: 50%;
	position:absolute;
	top: 209px;
}
.head{
	width: 170px;
	height: 250px;
	background-color: red;
	position: absolute;
	left: 115px;
	top: 35px;
	z-index: 1;
}

.beard{
	width: 170px;
	height: 120px;
	background-color: white;
	position: absolute;
	top: 170px;
	border-radius: 0% 0% 35% 35%;
}                        привет                       как                            дела?