body{
	background-color: rgba(255,200,100,0.9);
	background-image:linear-gradient(blue,red,green,indigo); 
	background-repeat:no-repeat;
	height:1000px;
}
li{
color:red;
font-size:30px; 
list-style-type:circle;
text-decoration:none; 
}
li:hover{
color:blue;
list-style-type:disc;
text-decoration:underline;
}
a:active{
	color:green;
}
.box{
	width:50px;
	height:50px;
	background-color:indigo;
	border:2px dotted black;
}
table{
	border:3px solid lightgrey;
	border-collapse:collapse;
}
td{
	border:3px solid lightgrey;
}

