#hero{
	width: 200px;
	height: 200px;
	position: absolute;
}
.head{
	width: 200px;
	height: 198px;
	border: 2px solid black;
	background-color: red;
	border-radius: 50%;
	position: absolute;
}
.eye{
	width: 50px;
	height: 50px;
	background-color: pink;
	position: absolute;
	border-radius: 50%;
    left: 30px;
    top: 50px;
}
.eye + .eye{
	left: 100px;
}
.nose{
	width: 60px;
	height: 30px;
	background-color: pink;
	position: absolute;
	border-radius: 50%;
    left: 70px;
    top: 110px;
}
.rog{
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 60px solid black;
    left: 80px;
    top: -20px;
}
.smile{
	width: 60px;
	height: 50px;
    border-top: 10px solid black; 
	position: absolute;
	border-radius: 50%;
    left: 70px;
    top: 140px;
    border-radius: 50%;
}
.coin{
	width: 50px;
	height: 50px;
	border-color: gold;
	position: absolute;
	border-radius: 50%;
	animation-name: red;
	animation-duration: 5s; 
}
body{
   background-color: black;
   animation-name: fon;
   animation-duration: 50s;
} 
@keyframes fon{
    10%{
    background-color: #673ab7;
	}
	20%{
     background-color: #a8b53f;
	}
	30%{
     background-color: red;
	}
	40%{
     background-color: green;
	}
	50%{
     background-color: black;
	}
	60%{
     background-color: gold;
	}
	70%{
     background-color: pink;
	}
	80%{
     background-color: red;
	}
	90%{
     background-color: red;
	}
}