h1{
	color: red;
}
body{
	background-color: rgb(26,12,9);
}
div{
	width: 50px;
	height: 100px;
	background-color: rgb(50,40,9);
	border: 1px dashed black; 
	border-radius: 30%;
	background-image: linear-gradient(to bottom right, red, blue)
}
div+div{
	background-image: radial-gradient(at center,red,blue)
}