body{
    background-color: lightpink;
}
#clock{
    width: 300px;
    height: 300px;
    background-color: green;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-10%,-10%);
}
#line-m{
    width: 10px;
    height: 80px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: rotate(0deg);
    transform-origin: center bottom;
}
#line-h{
    width: 15px;
    height: 60px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: rotate(0deg);
    transform-origin: center bottom;
}
