body{
background-image: url("snow.gif");
background-size: 100%
}
p{
    color: white;
    font-size:35px;
    text-align: center;
    animation: 5s fon infinite;
}

@keyframes fon{
    0%{color:white;}
    25%{color:black;}
    50%{color:tomato;}
    75%{color:peru;}
    100%{color:teal;}
}
.snowman{
	width:200px;
	height:500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50% ,-50%);
}
.legs{
	width:200px;
	height:200px;
	background-color:lightgrey;
	border-radius:50%;
	position: absolute;
	top:300px;
	animation: 5s pygovika infinite;
}
.body{
	width: 150px;
	height: 150px;
	background-color:lightgray;
	border-radius:50%;
	position: absolute;
	top: 150px;
	left: 25px;
	animation: 5s pygovika infinite;
}
.head{
	width:100px;
	height:100px;
	background-color:lightgray;
	border-radius:50%;
	position: absolute;
	left: 50px;
	top: 50px;
	animation: 5s pygovika infinite;
}
.eyel{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50%;
	position: absolute;
	left: 20px;
	top: 40px;
}
.eyer{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50%;
	position: absolute;
	left:70px;
	top:40px;
}
.smile{
	width:25px;
	height:10px;
	background-color:tomato;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position:absolute;
    left:40px;
    top:60px;
}
.arml{
	width:100px;
	height:10px;
	background-color: brown;
    position: absolute;
    left: -90px;
    top: 55px;
    transform: rotate(-15deg);
    z-index: -1;
    animation: 5s ryki infinite;
}
.armr{
	width: 100px;
	height:10px;
	background-color:brown;
	position:absolute;
	left:140px;
	top:55px;
	transform:rotate(15deg);
	z-index:-1;
	animation: 5s ryki infinite;
}
.legl{
	width: 60px;
	height: 40px;
	background-color: lightgray;
	border-radius: 50%;
	position:absolute;
	top:170px;
	animation: 5s pygovika infinite;
}
.legr{
	width:60px;
	height:40px;
	background-color:lightgray;
	border-radius:50%;
	position:absolute;
	top:170px;
	left:135px;
	animation: 5s pygovika infinite;
}
.dot1{
	width:15px;
	height:15px;
	background-color:black;
	border-radius:50%;
	position:absolute;
	left:70px;
	top:50px;
	animation: 5s pygovika infinite;
}
.dot2{
    width:15px;
    height:15px;
    background-color:black;
    border-radius:50%;
    position:absolute;
    left:70px;
    top:90px;
    animation: 5s pygovika infinite;
}

.dot3{
	width:15px;
	height:15px;
	background-color:black;
	border-radius:50%;
	position:absolute;
	left:90px;
	top:100px;
	animation: 5s pygovika infinite;
}
@keyframes pygovika {
	0%{background-color: lightgray;height:-10px}
	25%{background-color: blue;height:25px;}
	50%{background-color: green;height: :-10px;}
	75%{background-color: tomato;height:25px;}
	100%{background-color: lightgray;height:-10px;}
}
@keyframes ryki {
   0%{background-color: brown;height: :-10px;}
   25%{background-color:blue;height:25px;}
   50%{background-color: green;height: : -10px}
   75%{background-color: tomato;height:25px}
   100%{background-color: brown;height: : -10px}
}