body{
background-color:green;
 
}
p{
    color: white;
    font-size:35px;
    text-align: center;
    animation: 5s fon infinite;
}

@keyframes fon{
    0%{color:white;}
    25%{color:black;}
    50%{color:tomato;}
    75%{color:peru;}
    100%{color:teal;}
}
.snowman{
	width:200px;
	height:500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50% ,-50%);
}
.legs{
	width:200px;
	height:200px;
	background-color:white;
	border-radius:50%;
	position: absolute;
	top:300px;
}
.body{
	width: 150px;
	height: 150px;
	background-color:white;
	border-radius:50%;
	position: absolute;
	top: 150px;
	left: 25px;
}
.head{
	width:100px;
	height:100px;
	background-color:white;
	border-radius:50%;
	position: absolute;
	left: 50px;
	top: 50px;
}
.eyel{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50%;
	position: absolute;
	left: 20px;
	top: 40px;
}
.eyer{
	width:10px;
	height:10px;
	background-color:black;
	border-radius:50%;
	position: absolute;
	left:70px;
	top:40px;
}
.smile{
	width:25px;
	height:10px;
	background-color:tomato;
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
    position:absolute;
    left:40px;
    top:60px;
}
.arml{
	width:100px;
	height:10px;
	background-color: brown;
    position: absolute;
    left: -90px;
    top: 55px;
    transform: rotate(-15deg);
    z-index: -1;
}
.armr{
	width: 100px;
	height:10px;
	background-color:brown;
	position:absolute;
	left:140px;
	top:55px;
	transform:rotate(15deg);
	z-index:-1;
}
.legl{
	width: 60px;
	height: 40px;
	background-color: white;
	border-radius: 50%;
	position:absolute;
	top:170px;
}
.legr{
	width:60px;
	height:40px;
	background-color:white;
	border-radius:50%;
	position:absolute;
	top:170px;
	left:135px;
}